langchain-anthropic
langchain-community
langchain-core
langchain-openai
langchain-tavily
langgraph
langgraph-api
langgraph-cli[inmem]
python-dotenv
langgraph-checkpoint-sqlite
psycopg[binary,pool]
langgraph-checkpoint-postgres